* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --cotton-rose: #E5BDBD;
    --sky-blue: #94CDF7;
    --periwinkle: #C2C2ED;
    --blue-slate: #5C6977;
    --white: #FFFFFF;
}

body {
    background-color: var(--periwinkle);
    color: var(--blue-slate);
    font-family: "DM Sans", sans-serif;
    min-height: 100vh;
}

.nav {
    height: 4.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: var(--sky-blue);
    border-bottom: 4px solid var(--blue-slate);
}

.nav h1 {
    font-family: "Birthstone", cursive;
    letter-spacing: 0.1rem;
    font-size: 2.2rem;
}

#logoutBtn {
    width: 85px;
    height: 32px;
    cursor: pointer;
    font-weight: 700;
    border-radius: 0.45rem;
    color: var(--blue-slate);
    background-color: var(--cotton-rose);
    border: 3px solid var(--blue-slate);
    box-shadow: 3px 3px 0 var(--blue-slate);
    font-family: inherit;
}